<p id="notice"><%= notice %></p>

<h2>Pacientes</h2> 
  <% @pacientes.each do |f| %> 
    <div class="atendido">
      <p class="content"><%= f.nome %></p> 
	  <p class="content"><%= f.cpf %></p>
    </div>
  <% end %>

<%= link_to 'Novo Paciente', new_paciente_path %>